@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteiner{
 width:  384px;
height: 611px;
max-width: 384px;
border-radius: 12px;
background-color: #1F1F1F;
border: 2px;

}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.name{
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 36px;
text-align: center;
padding-top: 25px;
 color: #FFFFFF;
 word-spacing: 7px;

}
.from{
font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 21px;
text-align: center;
color: #C4F82A;
padding-left: 5px;

}
.btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
    padding-top: 30px;
    
}
.github{
font-family: Inter;
font-size: 17px;
font-weight: 700;
line-height: 21px;
width: 350px;
height: 47px;
border-radius: 10px;
color: white;
background-color: #333333;


}

.git{
    font-family: Inter;
font-size: 17px;
font-weight: 700;
line-height: 21px;
width: 350px;
height: 47px;
border-radius: 10px;
color: white;
background-color: #333333;
transition: 2s;
border: none;

}
.git:hover{
    background-color: #C4F82A;

}



.moretext{
 
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 21px;
text-align: center;
color: white;
padding-top: 15px;

}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: white;
}
a:hover{
    color: black;
}

@media (max-width: 350px){
    .conteiner{
width: 300px;
height: 480px;
    }
    .name{
width: 279px;
height: 36px;
font-size: 10px;
font-weight: 400px;
line-height: 20px;
padding-top: 15px;


    }
    .from{
        width: 279px;
height: 36px;
font-size: 13px;
font-weight: 600px;
line-height: 18px;


    }
    .github{
 width: 280px;
height: 30px;
font-size: 13px;

    }
.git{
    width: 280px;
    height: 30px;
}
.moretext{
    font-size: 12px;
font-weight: 350;
line-height: 21px;
text-align: center;
color: white;
padding-top: 3px;
}
.btn{
    gap: 12px;
    padding-left: 10px;
    padding-top: 20px;
}
a{
    padding-top: 7px;
    font-size: 13px;
}
}